.App {
  text-align: center;
}

body {
  overflow-x: hidden;
}

@media (min-width: 250px) {

  /* Styles for desktop */
  .navbar .nav-item.dropdown:hover>.dropdown-menu {
    display: block;
  }
}

@media (max-width: 700px) {

  /* Styles for mobile */
  .navbar .navbar-collapse.Nav .nav-item.dropdown .dropdown-menu {
    display: none;
  }
}


.marquee-container {
  width: 80%;
  /* Set the width of the container */
  overflow: hidden;
  /* Hide the overflowing content */
  position: relative;
  padding-top: 8px;
}

.marquee-container.paused .marquee-content {
  animation-play-state: paused;
}

.marquee-content {
  white-space: nowrap;
  /* Prevent line breaks */
  position: absolute;
  animation: marquee 10s linear infinite;
  /* Adjust the animation duration as needed */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}



.update {
  display: flex;

}

.name {
  background-color: green;
  padding: 10px;
  font-size: 18px;
  color: white;
  z-index: -1;

}

span {
  width: 81%;
  padding-top: 9px;

}

#slideMain {

  z-index: -1;
  font-size: 20px;
  color: red;
  font-weight: bold;
  text-decoration: none;
}

#slideMain:hover {
  color: green;

}

.logo {
  padding: 15px;
}

.logo1 {
  margin: 5px;
}

#pht1,
#pht2,
#pht3 {
  height: 500px;
}

#m1,
#m2,
#m3 {
  width: 100%;

}

.start {
  margin: 20px;
}

.motivateCart .col-4 {
  box-shadow: 0px 0px 5px black;
  padding: 20px;
  margin: 5px auto;
  box-sizing: border-box;
  border-radius: 15px;


}

.img1 {
  width: 30%;
}

.col-6 {
  padding: 0 60px 0 60px;
  text-align: center;
}


.princple {
  display: flex;
  margin-top: 10px;
  padding-left: 30px;

}

/* @media only screen and (max-width: 500px) {
  .princple {
    background-color: lightblue;
    display: block;
    margin-top: 10px;
  }
} */

.princple1,
.princple2 {
  box-shadow: 0px 0px 5px black;
  padding: 30px;
  border-radius: 15px;
  margin: 10px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#princpleimg,
#princpleimg1 {
  width: 200px;
}

.princple .details {
  margin: 70px 0 0 10px;
  color: red;
}

.mainbox {
  margin: 20px;
}